body{
  background-color: rgba(166, 124, 150, 0.8);
  color:black;
  font-family: Arial;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.move-icon{
  height: 80px;
}
.move-button{
  background-color: transparent;
  border: 3px solid black;  
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-score-btn{
  background-color: white;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}